.StockDetail{
    margin:5rem 0;
    width:100%;
    /* height:auto; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.backbutton{
    width:100%;
    font-size: 1rem;
    cursor: pointer;
}
.Name_Price_Chart{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.rangeChoice{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding:0 0.5rem;
}
.rangeChoice button{
    padding:1rem;
    margin:0 0.1rem;
    cursor: pointer;
    border:none;
}
.rangeChoice button:active,
.rangeChoice button:hover{
    background-color: aqua;
}   
.RangeChoiceActive{
    background-color: aqua;
}   
.head{
    width:60%;
}
.headline{
    font-size: 1.5rem;
    margin:0.5rem;
}

.logo{
    width:30%;
    max-width: 150px;
    max-height:150px;
    margin: 0 auto;
}

hr{
    width: 100%;
    border: 1px dotted lightgray;
}
.trade{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
.tradeTitle{
    width:90%;
    font-size: 1.5rem;
    padding: 0.5rem;   
}
.trade .type{
    padding:1% 10%;
    width:100%;
}
.trade .type input{
    margin: 0 0.5rem;
}

.trade .order{
    padding:1% 0 1% 10%;
    width:100%;
    display: flex;
    flex-direction: column;
}

.quantityInput{
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 3px;
    font:inherit;
    margin:0.2rem 0.5rem;
    width:5rem;
}
.orderType{
    outline: none;
    border: 1px solid #ccc;
    background-color:white;
    padding: 3px;
    font:inherit;
    width: 8rem;
    margin:0.2rem 0;
}


.trade .price{
    padding:0 10%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.trade .submit{
    padding:1% 10%;
    width:100%;
    text-align: center;
}
.submitButton{
    outline: none;
    border:1px soid black;
    border-radius: 5px;
    background-color: rgb(35, 218, 132);
    padding:0.2rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center
}
.position{
    width:100%;
}
.positionTitle{
    width:90%;
    font-size: 1.5rem;
    padding: 0.5rem;  
}
.positionBody{
    /* padding-left:10%; */
    display: flex;
    flex-wrap: wrap;
    width:90%;
}
.positionItem{
    width:40%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}
.stats{
    width:100%;
    margin: 0 0 0.5rem;
}
.statsTitle{
    width:90%;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.statsBody{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.statsItem{
    width:40%;
    margin:0 auto;
    padding: 0.2rem 0;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statsProp{
    font-size: 0.8rem;
    color: rgb(129, 119, 119);
}

.news{
    width:100%;
    margin: 0 0 0.5rem;
}
.NewsHead{
    width:90%;
    font-size: 1.5rem;
    padding: 0.5rem;
}
@media(min-width:500px){
    .backbutton{
        font-size: 1.5rem;
        padding-left:2rem;
    }
    .head{
        margin:0 auto;
    }
    .headline{
        font-size: 2.5rem;
        width:50%;
        margin:0 auto;
    }
    .stats{
        margin-left: 3rem;
    }
    .news{
        margin-left: 3rem;
    }
    .position{
        margin-left: 3rem;
    }
    .tradeTitle{
        margin-left: 3rem;
    }
    .trade .order{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .orderType{
        width:8rem;
    }
    .trade .price{
        flex-direction: row;
        flex-wrap: wrap;
    }
}