.StockDetail{
    margin:5rem 0;
    width:100%;
    /* height:auto; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.Name_Price_Chart{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.head{
    width:60%;
}
.headline{
    font-size: 1.5rem;
    margin:0.5rem;
}

.logo{
    width:30%;
    max-width: 150px;
    max-height:150px;
    margin: 0 auto;
}

hr{
    width: 100%;
    border: 1px dotted lightgray;
}
.position{
    width:100%;
}
.stats{
    width:100%;
    margin: 0 0 0.5rem;
}
.statsTitle{
    width:90%;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.statsBody{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.statsItem{
    width:40%;
    margin:0 auto;
    padding: 0.2rem 0;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statsProp{
    font-size: 0.8rem;
    color: rgb(129, 119, 119);
}

.news{
    width:100%;
    margin: 0 0 0.5rem;
}
.NewsHead{
    width:90%;
    font-size: 1.5rem;
    padding: 0.5rem;
}
@media(min-width:500px){
    .head{
        margin:0 auto;
    }
    .headline{
        font-size: 2.5rem;
        width:50%;
        margin:0 auto;
    }
    .stats{
        margin-left: 3rem;
    }
    .news{
        margin-left: 3rem;
    }
}